@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.page-header {
    background-color: #f5f5f5;
    margin-top: 0;
    padding: 10px 0px 0px 0px;
    height: 45px;
    padding-right: 55px;
    background-color: #5e5e5e;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 18pt;
    text-decoration: none;
}

.page-header img{
    cursor: pointer;
}

*{
    font-family: Tahoma, 'Roboto Condensed', sans-serif;
}

.vacancy-form textarea, .vacancy-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 10px;
    padding-right: 10px;
}

.vacancy {


        color: #000000;


    width: 1000px; /* Ширина слоя в пикселах */
    margin: 0 auto; /* Отступ слева и справа */
    padding-top: 40px;

}

.vacancy h1 a, .vacancy h1 a:visited {
    color: #000000;
    margin-top: 20px;
    font-size: 18px;
}


.vacancy  a {
    color: #066666;

}

.comment {
    margin: 20px 0px 20px 20px;
}

.up-wrapper li {
    float: left;
    margin-right: 1px;
    list-style: none;
}

.up-wrapper li a
{
    display:block;

    position:relative;
    color:#111111;     
    margin-right: 31px;
}  

.round {
    border-radius: 50px; /* Радиус скругления */
    float: right;
    width: 32px; 
    height:auto ; 
    margin-top: 11px; 
    margin-left: 14px; 
    margin-right: 30px;   
}

.round:hover{
    box-shadow: 0 0 0 1px grey; /* Параметры теней */
}

.login a
{
    color: #555555;;
    text-decoration: none;
    font-size: 14px;
    padding: 0 8 0 4;
    font-weight: bold;
}

/* Basic */
@-ms-viewport {
  width: device-width; }
body {
  -ms-overflow-style: scrollbar; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #ffffff; }
  body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }


input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Typography */
html {
  font-size: 13pt; }
  @media screen and (max-width: 1680px) {
    html {
      font-size: 11pt; } }
  @media screen and (max-width: 980px) {
    html {
      font-size: 12pt; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 11pt; } }


strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2rem 0; }

header.special {
  text-align: center;
  margin-bottom: 4rem; }
  header.special p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-size:26px;
  padding-top: 20px;
  line-height: 1.2; }

h2 {
  font-size: 2.25rem;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size:26px;
  padding-top: 20px;
  padding-left: 100px;
  line-height: 1.2; }

h6 {
  font-size:46px;
  padding-top: 20px;
  line-height: 1.2;  }



@media screen and (max-width: 736px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3; }

  h2 {
    font-size: 1.75rem;
    line-height: 1.5; }

  h3 {
    font-size: 1.25rem; } }
sub {
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem; }

sup {
  font-size: 0.8rem;
  position: relative;
  top: -0.5rem; }

blockquote {
  border-left: solid 0.5rem;
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 1rem 0 1rem 2rem; }

code {
  border-radius: 4px;
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0.25rem;
  padding: 0.25rem 0.65rem; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  margin: 0 0 2rem 0; }
  pre code {
    display: block;
    line-height: 1.75;
    padding: 1rem 1.5rem;
    overflow-x: auto; }

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2rem 0; }
  hr.major {
    margin: 4rem 0; }

input, select, textarea {
  color: #555555; }

a {
  color: #ce1b28; }

strong, b {
  color: #555555; }

h1, h2, h3, h4, h5, h6 {
  color: #555555; }

blockquote {
  border-left-color: rgba(0, 0, 0, 0.25); }

code {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25); }

hr {
  border-bottom-color: rgba(0, 0, 0, 0.25); }



/* Form */
form {
  margin: 0 0 2rem 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  input[type="tel"]:invalid,
  input[type="search"]:invalid,
  input[type="url"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none; }

label {
  display: block;
  font-size: 1rem;
  font-weight: 600; 
  margin-top: 10px;
  margin-bottom: 5px;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
  height: 30px;
   }

select {
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
    height: 30px;
  padding-right: 3.25rem;
  text-overflow: ellipsis; }
  select:focus::-ms-value {
    background-color: transparent; }
  select::-ms-expand {
    display: none; }

textarea {
  padding: 0.75rem 1rem; }

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2.825rem;
    padding-right: 0.875rem;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 4px;
      border: solid 1px;
      content: '';
      display: inline-block;
      left: 0;
      line-height: 1.86875rem;
      position: absolute;
      text-align: center;
      top: -0.1625rem;
      width: 1.95rem; 
        height: 30px;}
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    content: '\f00c'; }

input[type="checkbox"] + label:before {
  border-radius: 4px; }

input[type="radio"] + label:before {
  border-radius: 100%; }

::-webkit-input-placeholder {
  opacity: 1.0; }

:-moz-placeholder {
  opacity: 1.0; }

::-moz-placeholder {
  opacity: 1.0; }

:-ms-input-placeholder {
  opacity: 1.0; }

label {
  color: #555555; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background-color: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25); }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="search"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.25)' /%3E%3C/svg%3E"); }
  select option {
    color: #444444;
    background-color: #ffffff; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #444444; }
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    background: rgba(0, 0, 0, 0.075);
    border-color: rgba(0, 0, 0, 0.25); }
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff; }
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #ce1b28;
  box-shadow: 0 0 0 1px #ce1b28; }

::-webkit-input-placeholder {
  color: #bbbbbb !important; }

:-moz-placeholder {
  color: #bbbbbb !important; }

::-moz-placeholder {
  color: #bbbbbb !important; }

:-ms-input-placeholder {
  color: #bbbbbb !important; }

/* List */


/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2rem 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0; }
  table td {
    padding: 0.75rem 0.75rem; 
    }
  table th {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0 0.75rem 0.75rem 0.75rem;
    text-align: left; }
  table thead {
    border-bottom: solid 2px; }
  table tfoot {
    border-top: solid 2px; }
  table.alt {
    border-collapse: separate; }
    table.alt tbody tr td {
      border: solid 1px;
      border-left-width: 0;
      border-top-width: 0; }
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    table.alt thead {
      border-bottom: 0; }
    table.alt tfoot {
      border-top: 0; }

table tbody tr {
  border-color: rgba(0, 0, 0, 0.25); }
  table tbody tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.075); }
table th {
  color: #555555; }
table thead {
  border-bottom-color: rgba(0, 0, 0, 0.25); }
table tfoot {
  border-top-color: rgba(0, 0, 0, 0.25); }
table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.25); }

/* Highlights */
.highlights {
  width: 100%;
  margin: 2.5rem 0;
  margin-bottom: 200px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch; }
  .highlights > * {
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0; }
  .highlights > * {
    width: 33.3333333333%; }
  .highlights > * {
    padding: 1.5rem;
    width: calc(33.3333333333% + 1rem); }
  .highlights > :nth-child(-n + 3) {
    padding-top: 0; }
  .highlights > :nth-last-child(-n + 3) {
    padding-bottom: 0; }
  .highlights > :nth-child(3n + 1) {
    padding-left: 0; }
  .highlights > :nth-child(3n) {
    padding-right: 0; }
  .highlights > :nth-child(3n + 1),
  .highlights > :nth-child(3n) {
    width: calc(33.3333333333% + -0.5rem); }
  .highlights .content {
    border-radius: 4px;
    height: 300px;
    padding: 3rem;
    text-align: center; }
    .highlights .content .icon {
      font-size: 5rem; }
  .highlights > div > :last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 980px) {
    .highlights > * {
      width: 50%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 0; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(2n) {
      padding-right: 0; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      width: calc(50% + 0rem); }
    .highlights .content {
      padding: 2rem; } }
  @media screen and (max-width: 736px) {
    .highlights > * {
      width: 100%; }
    .highlights > * {
      padding: 1rem;
      width: calc(33.3333333333% + 0.6666666667rem); }
    .highlights > :nth-child(-n + 3) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 3) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(3n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(3n) {
      padding-right: 1rem; }
    .highlights > :nth-child(3n + 1),
    .highlights > :nth-child(3n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(50% + 1rem); }
    .highlights > :nth-child(-n + 2) {
      padding-top: 1rem; }
    .highlights > :nth-last-child(-n + 2) {
      padding-bottom: 1rem; }
    .highlights > :nth-child(2n + 1) {
      padding-left: 1rem; }
    .highlights > :nth-child(2n) {
      padding-right: 1rem; }
    .highlights > :nth-child(2n + 1),
    .highlights > :nth-child(2n) {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > * {
      padding: 1rem;
      width: calc(100% + 2rem); }
    .highlights > :nth-child(-n + 1) {
      padding-top: 0; }
    .highlights > :nth-last-child(-n + 1) {
      padding-bottom: 0; }
    .highlights > :nth-child(1n + 1) {
      padding-left: 0; }
    .highlights > :nth-child(1n) {
      padding-right: 0; }
    .highlights > :nth-child(1n + 1),
    .highlights > :nth-child(1n) {
      width: calc(100% + 1rem); } }

.highlights .content {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025); }

/* Grid */


/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* Wrapper */
.wrapper {
  padding: 4rem 6rem 6rem 6rem ;
  position: relative;
  z-index: 1; }

/* Banner */
#banner {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  color: rgba(255, 255, 255, 0.5);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 33rem !important;
  min-height: 33rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

#banner .sign p{
  color: #333333;
  font-size: 1.1rem;
}
  
html,body{
  height:100%;
  margin:0;
  padding:0;
}

#wrapper {
  
  min-height: 83%;
  height: auto !important;
  height: 83%;
}

/* Footer */
#footer {
  width: 100%;
  height: 17%;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);

  position: absolute;

}


  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #ffffff; 
    padding-left: 50px;
    padding-top: 20px;
  }
  #footer a, #footer p {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding-left: 50px;

     }

    #footer a:hover {
      color: #ce1b28; }
  #footer .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex; }
    #footer .content section {
      width: 25%; }
      #footer .content section:first-child {
        width: 50%;
        padding-right: 4rem; }
      #footer .content section:last-child {
        padding-left: 4rem; }

/* Header */
body {
  padding-top: 3.25rem; }
  body:before {
    content: ' ';
    
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.05; }

#header {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #f0f1f2;
  color: black;
  cursor: default;
  height: 3.25rem;
  left: 0;
  line-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001; }
  #header > .logo {
    color: #1a1a1a;
    font-size: 1.2rem;
    font-weight: 800;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    padding-left: 40px;
    text-decoration: none; }
  #header > nav > a {
    color: inherit;
    display: inline-block;
    padding: 0 0.75rem;
    text-decoration: none; }
   
    @media screen and (max-width: 736px) {
      #header > nav > a {
        padding: 0 0.5rem; }
        #header > nav > a + a[href="#menu"]:last-child {
          margin-left: 0.25rem;
          padding-left: 1rem; }
        #header > nav > a:last-child {
          padding-right: 1rem; } }

@media screen and (max-width: 980px) {
  body {
    padding-top: 44px; }

  #header {
    height: 44px;
    line-height: 44px; } }
@media screen and (max-width: 480px) {
  #header {
    min-width: 320px; } }



/* Main */
#main .content {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
  margin-bottom: 2rem;
  padding: 3rem; }
  @media screen and (max-width: 980px) {
    #main .content {
      padding: 2rem; } }
  @media screen and (max-width: 480px) {
    #main .content {
      padding: 1.5rem; } }

/* Menu */

.submenu
{
    position: absolute;
    right: 0;
    top: 3.25rem;
    float:right;
    z-index: 5;
    display: none;
    background: #e3e6e8;
    width: 200px;
    right: 10px; 
    opacity: 0.9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 

}

.submenu ul li
{
    height: 50px;
    width: 200px;

}

.submenu ul li a
{
    color: black;
    font-size: 15px;
    padding: 0 15px;
    margin: 0;
    text-decoration: none;
}

.submenu ul li a:hover {
  color: grey;
}

.submenu ul
{
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.mainmenu
{
    cursor: pointer; 
     padding-right: 40px; 
}
.mainmenu:hover .submenu {display: block;}

.description{
  background: #ffffff;
  font-family: Tahoma, 'Roboto Condensed', sans-serif;
  font-size: 14px;
  margin-top: -50px;
  padding-left: 150px;
}


.simple-button {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display:block;
        width:90px;
        height: 25px;
    font-weight: bold;
        text-align:center;
    color: #717171;
    margin-top: 30px;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 0 6px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#d4d4d4));
    background: -webkit-linear-gradient(#f6f6f6, #d4d4d4);
    background-image: -moz-linear-gradient(top, #f6f6f6, #d4d4d4);
    background-image: -moz-gradient(top, #f6f6f6, #d4d4d4);
    border: 1px solid #a1a1a1;
}

.simple-button:hover {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ececec));
    background: -webkit-linear-gradient(#f6f6f6, #ececec);
    background-image: -moz-linear-gradient(top, #f6f6f6, #ececec);
    background-image: -moz-gradient(top, #f6f6f6, #ececec);
}

.simple-link{
  margin-left: 140px;
  margin-top: -14px;
}

.simple-link a{ 
  color: #717171;
  font-size: 13px;
}

.form{
  width: 400px; /* Ширина слоя в пикселах */
  margin: 0 auto; /* Отступ слева и справа */
  padding-top: 40px;
}