{% extends 'jobpro/base.html' %}

{% block javascript %}
    function favourite() {
                var Cv_pk = "{{ cv.pk }}"
                $.ajax({
                    type:"POST",
                    url: "{% url 'cv_favourite_change' %}", 
                    cache: false,
                    data: {
                        "Cv_pk": Cv_pk, 'csrfmiddlewaretoken':"{{ csrf_token }}"
                    },
                    success: function(data) {
                         if (data == 'add'){
                            document.getElementById('save').src='http://imagestun.com/hosting/prev/star3.png'
                        }
                        if (data == 'remove'){
                            document.getElementById('save').src='http://imagestun.com/hosting/prev/star2.png'
                        }
                    },
                    failure: function(data) { 
                        alert('Got an error dude');
                    }
                });
            }
        
{% endblock %}
{% block content %}
<div class="page-header">
    {% if user.is_authenticated %}
    
        
            {% if user.account_type == 'EM' %}        
                {% if is_owner %}
                    <a href="{% url 'cv_edit' pk=cv.pk %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
            {% else %}
                <form method="POST">
                     {% csrf_token %}
                     {{ form.as_p }}
                     {% if is_favourite == False %}
                        <img id ='save' src="http://imagestun.com/hosting/prev/star2.png" height="22px" onclick = "favourite();" class="top-menu">                  
                     {% else %}
                        <img id ='save' src="http://imagestun.com/hosting/prev/star3.png" height="22px" onclick = "favourite();" class="top-menu">  
                     {% endif %}
                </form>
            {% endif %}
          
 
    {% endif %}
</div>
    <div class="vacancy">
    	<h1>{{ cv.name }}</h1>
    	<p>{{ cv.description }}</p>
    </div>

{% endblock %}