{% extends 'jobpro/base.html' %}

{% block content %}
<div class="vacancy">
	<h1>Ваша организация</h1>
	<form method="POST" class="post-form">
		{% csrf_token %}
		<table>
            <td>Название вашей организации</td>
			<td>{{ form.name }}</td>
		</tr>
		<tr>
			<td>Адрес организации</td>
			<td>{{ form.address }}</td>
		</tr>
		<tr>
			<td>Контактный телефон</td>
			<td>{{ form.phone }}</td>
		</tr>
		<tr>
			<td>Контактный email</td>
			<td>{{ form.email }}</td>
		</tr>
		<tr>
			<td>Описание организации</td>
			<td>{{ form.description }}</td>
		</tr>
	
	</table>
	<button type="submit" class='simple-button'>Save </button>	
	</form>
	</div>
{% endblock %}	

