{% extends 'jobpro/base.html' %}
<div class="vacancy">
{% block content %}
	<h1>Ваша вакансия</h1>
	<form method="POST" class="post-form">
		{% csrf_token %}
		<table>
		<tr>
            <td>Сфера деятельности</td>
			<td>{{ form.profession }}</td>
		</tr>	
        <tr>
            <td>Название вакансии</td>
			<td>{{ form.name }}</td>
		</tr>
		<tr>
			<td>Описание вакансии</td>
			<td>{{ form.description }}</td>
		</tr>
		<tr>
			<td>Зарплата</td>
			<td>{{ form.salary }}</td>
		</tr>
		<tr>
			<td><button type="submit" class="save btn btn-default">Save </button></td>
		</tr>
	</table>
		
	</form>
{% endblock %}	
</div>
