{% extends 'jobpro/base.html' %}

{% block content %}
<div class="page-header">
    {% if user.account_type == 'OR' %} 	         
        <a href="{% url 'vacancy_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>      
    {% endif %}
    </div>
	<div class="vacancy">
        {% if description %}
            <h1>{{ description }}</h1>
        {% else %}
            <h1>Все вакансии</h1>
        {% endif %}
    		{% for vacancy in vacancies %}	            
    	            <h1><a href="{% url 'vacancy_detail' pk=vacancy.pk %}">{{ vacancy.name }}</a></h1>
    	            <p>Описание вакансии:<pre class="description">  {{ vacancy.description }}</pre></p>
    	            <p>Зарплата: {{ vacancy.salary }}</p>
                    <a href="{% url 'org_info_vacancy' owner_pk=vacancy.owner.pk %}" >Автор вакансии: {{ vacancy.org_info }}</a>
                       
                    {% if not forloop.last %}
                        <hr align="center" width="700px" size="2" color=grey />
                    {% endif %}   	            
    	    {% endfor %}
	</div>

{% endblock %}