{% extends 'jobpro/base.html' %}

{% block javascript %}
    function favourite() {
                var Vacancy_pk = "{{ vacancy.pk }}"
                $.ajax({
                    type:"POST",
                    url: "{% url 'vacancy_favourite_change' %}", 
                    cache: false,
                    data: {
                        "Vacancy_pk": Vacancy_pk, 'csrfmiddlewaretoken':"{{ csrf_token }}"
                    },
                    success: function(data) {
                         if (data == 'add'){
                            document.getElementById('save').src='http://imagestun.com/hosting/prev/star3.png'
                        }
                        if (data == 'remove'){
                            document.getElementById('save').src='http://imagestun.com/hosting/prev/star2.png'
                        }
                    },
                    failure: function(data) { 
                        alert('Got an error dude');
                    }
                });
            }
    function vacancy_edit() {
        var frm=document.myfrm;
        frm.submit();
    }   
        
{% endblock %}
{% block content %}
<div class="page-header">
    {% if user.is_authenticated %}       
            {% if user.account_type == 'OR' %}       
                {% if is_owner %}
                     <a href="{% url 'vacancy_edit' pk=vacancy.pk %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                    <form name='myfrm' method='POST' action="{% url 'vacancy_edit' pk=vacancy.pk %}"> {% csrf_token %} <input type='hidden' name='task'> </form>
                {% endif %}
            {% else %}
                <form method="POST">
                     {% csrf_token %}
                     {{ form.as_p }}
                     {% if is_favourite == False %}
                        <img id ='save' src="http://imagestun.com/hosting/prev/star2.png" height="22px" onclick = "favourite();" class="top-menu">                  
                     {% else %}
                        <img id ='save' src="http://imagestun.com/hosting/prev/star3.png" height="22px" onclick = "favourite();" class="top-menu">  
                     {% endif %}
                </form>
            {% endif %}            
    {% endif %}
    </div>
    <a href="{% url 'vacancies_list' %}" class='chevron-left'><span class="glyphicon glyphicon-chevron-left"></span></a>
    <div class="vacancy">
    	<h1>{{ vacancy.name }}</h1>
    	<p>Описание вакансии:<pre class="description">  {{ vacancy.description }}</pre></p>
    	<p>Зарплата: {{ vacancy.salary }}</p>
        <a href="{% url 'org_info_vacancy' owner_pk=vacancy.owner.pk %}" >Автор вакансии: {{ vacancy.org_info }}</a>
    </div>

{% endblock %}