{% extends 'jobpro/base.html' %}

{% block javascript %}
    function favourite() {
                var Vacancy = "{{ vacancy }}"
                $.ajax({
                    type:"POST",
                    url: "{% url 'vacancy_favourite_change' %}", 
                    cache: false,
                    data: {
                        "Vacancy": Vacancy, 'csrfmiddlewaretoken':"{{ csrf_token }}"
                    },
                    success: function(data) {
                         if (data == 'add'){
                            document.getElementById('save').value='Убрать из избранного'
                        }
                        if (data == 'remove'){
                            document.getElementById('save').value='В избранное'
                        }
                    },
                    failure: function(data) { 
                        alert('Got an error dude');
                    }
                });
            }

{% endblock %}
{% block menu %}  
        
{% endblock %}
{% block content %}
    <p>{{ vacancy.profession }}</p>
	<h1>{{ vacancy.name }}</h1>
	<p>{{ vacancy.description }}</p>
	<p>ЗП: {{ vacancy.salary }}</p>
	<form method="POST">
		 {% csrf_token %}
   		 {{ form.as_p }}
   		 {% if is_favourite == False %}
		 	<input id="save" type="button" value="В избранное" onclick = "favourite();"/>
		 {% else %}
			<input id="save" type="button" value="Убрать из избранного" onclick = "favourite();"/>
		 {% endif %}
         {% if is_owner %}
            <a class="btn btn-default" href="{% url 'vacancy_edit' pk=vacancy.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>  
            <a class="btn btn-default" href="{% url 'vacancy_remove' pk=vacancy.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
         {% endif %}
   	</form>

{% endblock %}