{% extends "jobpro/base.html" %}

{% block content %}
<div class='form'>
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <dl class="register">
    {% for field in form %}
        <dt>{{ field.label_tag }}</dt>
        <dd class="clearfix">{{ field }}
      
        {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
        </dd>
    {% endfor %}
    </dl>

        <input type="submit" class ='simple-button' value="Войти" /> <div class='simple-link'> <a  href="{% url 'registration_register' %}" >  Зарегистрироваться</a></div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
    
{% endblock %}