{% extends "jobpro/base.html" %}
{% block content %}
<div class='form'>
<h1>Регистрация</h1>

<form method="post" action="">
	{% csrf_token %}
	<dl class="register">
	{% for field in form %}
	    <dt>{{ field.label_tag }}</dt>
	    <dd class="clearfix">{{ field }}
	  
	    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
	    </dd>
	{% endfor %}
	</dl>
<input type="submit" class ='simple-button'  style='width: 160px; margin-top: 40px; margin-left: 1px;' value="Зарегистрироваться" / class="clearfix">
</form>
</div>
{% endblock %}
